google-api-core==2.11.0
google-api-python-client==2.86.0
google-auth==2.17.3
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
googleapis-common-protos==1.59.0
gspread==5.8.0
openai==0.27.4
PyGithub==1.58.1
s3transfer==0.6.0
boto3==1.26.117
oauth2client==4.1.3
